body{
    background-color: #8c8c8e;
    color: #0c1713ff;
    font-family: Candara, Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
    width: 100%;
    height: 100%;
}
h1{
    background-color: #06153c;
    color: #8c8c8e;
    margin: 2%;
    float: center;
}

body, html {
    height: 100%;
    margin: 0;
  }
.figure{
  display:block;
  margin:auto;
  height: 50%;
}
.container {
  width: 100%;
  height: 20%;
  margin: 0 auto;

}
.sub-container{
  width: 99%;
  height: 90%;

}
.small-divider {
  width: 100%;
  height:2%;
  background-color: #06153c;
  float: left;
}
.column{
  width: 33%;
  height:auto;
}
.resizable-image{
    display: block;
    margin: 0;
    object-fit: cover;
        }
.profile-image {
    display: block;
    float: left;
    width: 90%;
    /*height:auto;*/
    margin-bottom: 2%;
    object-fit: cover;
        }
.box {
  width: 25%;
  height:100%;
  float: left;
        }

.main-text-container{
  width:96%;
  float: left;
  height:100%;
  padding:2%;

}
/* this is for below the header */
.main-block{
  width: 100%;
  height: 79%;
  float: left;
  margin: 0 auto;
  color: #465886;
}
.left-panel{
  width: 20%;
  height: 100%;
  margin-left: 0%;
  float: left;
  background-color: #06153c;
}
.right-panel{
  width:80%;
  float: left;
  margin: 0%;
  height:100%;
  
}
.special_link{
  color:#8c8c8e;
}
.regular_link{
  color:#0a0033;
}
.left-margin{
  width:4%;
  min-height: 99%;
  background-color: #06153c;
  float: left;
}
.main-heading{
  max-width: 100%;
  /*min-height: 100%;*/
  /*background-color: #06153c;*/
  color: #8c8c8e;
  font-family: Candara,Lucida, 'Lucida Sans', sans-serif;
  text-align: left;
  float: left;
  
}
.divider {
  width: 100%;
  height: 1%;
  float: left;
  background-color: #000000
}
.tabheader{
    background-color: #584c5a;
    font-family: Candara, Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
    color: #0c1713ff;
    float: left;
}

  .tablink {
    font-family: Candara,Lucida, 'Lucida Sans', sans-serif;
    color: #8c8c8e;
    font-size: 100%;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    width: 20%;
    height: 8%;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 1.2%;
  }

  .tablink:hover {
    background-color: #06153c;
  }
  .subpage-divider1{
    width:100%;
    height: 10%;
    float: top;
    background-color:#435583;
  }
  .subpage-margin1{
    width:1%;
    height: 90%;
    float: left;
    min-width:10px;
    background-color:#435583;
  }
  
  .subpage-divider2{
    width:100%;
    height: 10%;
    float: top;
    background-color:#17131c;
  }
  .subpage-margin2{
    width:1%;
    height: 90%;
    float: left;
    background-color:#17131c;
  }
  .subpage-divider3{
    width:100%;
    height: 10%;
    float: top;
    background-color:#0e1e07;
  }
  .subpage-margin3{
    width:1%;
    height: 90%;
    float: left;
    background-color:#0e1e07;
  }

   .subpage-divider4{
    width:100%;
    height: 10%;
    float: top;
    background-color:#335795;
  }
  .subpage-margin4{
    width:1%;
    height: 90%;
    float: left;
    background-color:#335795;
  }
   .subpage-divider5{
    width:100%;
    min-height: 10%;
    float: top;
    background-color:#0a0033;
  }
  .subpage-margin5{
    width:1%;
    min-height: 90%;
    float: left;
    background-color:#0a0033;
  }

  .mini-margin-left{
    width:2%;
    min-height: 90%;
    float: left;
    background-color:#8c8c8e;
  }

  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    background-color: #8c8c8e;
    font-family: Candara, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
    color: #0c1713ff;
    display: none;
    min-height: 100%;
    margin-left: 0%;
    margin-top: 0%;
 
    height:100%;

  }
  
  


